.file_info_item {
  margin-bottom: 18px;
}

.info_value {
  font-size: 12px;
}

.file {
  display: none;
}

.file::file-selector-button {
  font-size: 14px;
  background: #fff;
  border: 1px solid #111;
  border-radius: 12px;
  padding: 4px 32px;
  cursor: pointer;
}

.preview {
  width: 500px;
  height: 450px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 3px dashed #9a9899;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.preview:hover {
  border-color: #54424b;
}

.preview_msg {
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 10px;
}

.preview_desc {
  margin: 0;
  font-size: 14px;
}
